<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.11.2.js"></script>
</head>
<body>
<form>
    <div class="container">
        <div class="form-group"><h1>登陆</h1></div><br>
        <div class="form-group">
            <label for="telphone">手机号</label>
            <input type="text" class="form-control" id="telphone" name="telphone" placeholder="手机号">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="密码">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" id="login">登陆</button>
            <button type="submit" class="btn btn-default" id="register">注册</button>
        </div>

    </div>

</form>


<script>
    jQuery(document).ready(function () {
        $("#register").on("click",function () {
            window.location.href= "./register.html"
        })
        //绑定otp的click事件，用于向后端发送获取短信的请求
        $("#login").on("click",function () {
            var telphone = $("#telphone").val();
            var password = $("#password").val();
            if(telphone == null || telphone == ""){
                alert("手机号不能为空");
                return false;
            }
            if(password == null || password == ""){
                alert("密码不能为空");
                return false;
            }

            $.ajax({
                type:"POST",
                contentType:"application/x-www-form-urlencoded",
                url:"http://localhost:80/user/login",
                data:{
                    "telphone":telphone,
                    "password":password
                },
                xhrFields:{withCredentials:true},
                success:function (data) {
                    if(data.status == "success"){
                        alert("登陆成功");
                        localStorage.setItem("telphone",telphone);
                        //document.write(localStorage.getItem("telphone"));
                        window.location.href= "./listitem.html"
                    }else{
                        alert("登陆失败，"+data.data.errMsg);
                    }
                },
                fail:function (data) {
                    alert("登陆失败，原因为"+data.responseText);
                }
            });
            return false;
        });
    });

</script>

</body>

</html>